/*.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
*/
body{
	font-family: "Century";
	background: #B71919;
}
h1{
	font-family: "Century";
	color: #FFFFFF;
	font-size: 40px;
}

img{
	border-radius: 8px;
	display: block;
    margin: auto;
}

div#consola{
	background: #F2F2F2;
	font-family: "Courier New";
	font-size: 16px;
	margin-right: 20px;
    margin-left: 20px;
	border-radius: 8px;
}

div {
	background: #FFFFFF;
	font-family: "Century";
	font-size: 20px;
	margin-right: 150px;
    margin-left: 150px;
	border-radius: 8px;
	padding-left: 20px;
	padding-right: 20px;
}




